body {
	margin: 0;
	background: rgb(235, 235, 235);
}
.container-header {
	width: 100%;
	height: 200px;
	background: aquamarine;
	font-size: x-large;
	text-align: center;
	line-height: 200px;
	font-weight: 900;
}

.container-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 120px auto;
}

.container-section video {
	width: 100%;
}

.container-section .item-article {
	width: 100%;
	background: white;
	color: #025157;
	padding: 50px 0px;
}

.item-article > h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: x-large;
	padding: 0px 50px;
}

.item-article > p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding: 0px 50px;
}

.item-article > form {
	padding: 10px 50px;
}
form {
	display: flex;
	flex-wrap: wrap;
}
form label {
	margin: 0px 0px 10px 0px;
	width: 100%;
	font-size: x-large;
	font-weight: 700;
}

form input {
	font-size: 20px;
	border-radius: 5px 0px 0px 5px;
	padding: 4px 8px;
	border: teal 3px solid;
	outline: none;
}
form button {
	border: none;
	background-color: teal;
	padding: 5px 10px;
	border-radius: 0px 5px 5px 0px;
	color: white;
	outline: none;
	cursor: pointer;
}
